# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist
dist-ssr
*.local

# Editor folders and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*

# Vite specific
.vite

# SQLite database files
*.sqlite
*.sqlite-journal
*.db
*.db-journal
